
*{
  margin: 0 auto;
}

#painel-header-one,#painel-header-two {
  font-weight: bold;
}

#navegacao{
  border-radius: 5px 10px;
  margin: 1rem;
}

input#tarefa{
  width: 30rem;
  /* min-width:35vw;
  max-width:60vw; */
}

ul#inserir{
  list-style-type: none;
  width: 34rem;
  /* min-width: 40vw;
  max-width: 70vw; */
}

#painel{
  border-radius: 5px 10px;
  margin: 1rem;
}

#painel-header-two{
  width: 34rem;
  /* min-width: 40vw;
  max-width: 70vw; */
}

#check{
  color: white;
}

#botao{
  background-image: url(https://img.icons8.com/wired/32/000000/plus-2-math.png);
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
}

.button{
  width: 32px;
  height: 32px;
  background: url("https://img.icons8.com/wired/32/000000/delete.png");
  background-repeat: "no-repeat";
  /* display: flex;
  left: 56.5rem;
  position: sticky; */
}

.divisao {
  display: flex;
  justify-content:space-between;
  border: 0.1rem #0d6efd solid;
  border-radius: 0.5rem;
  margin: 1rem;
  align-items:center;
  font-size: 1.5em;
  font-family: 'Segoe UI';
}

.para {
  text-decoration: none;
}

.paraDois {
  text-decoration: line-through;
}