
*{
  margin: 0 auto;
}
#navegacao{
  /* background-color: blue; */
  /*max-width: 310px;*/
  /* color: white; */
  border-radius: 5px 10px;
  margin: 1rem;
}

input#tarefa{
  width: 30rem;
}

ul#inserir{
  list-style-type: none;
  width: 30rem;
}

#painel{
  /* background-color: blue; */
  /*width: 310px;*/
  /* color: white; */
  border-radius: 5px 10px;
  margin: 1rem;
}

#painel-header{
  width: 34rem;
}

#check{
  color: white;
}

#botao{
  background-image: url(https://img.icons8.com/wired/32/000000/plus-2-math.png);
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
}

/* #button{
  width: 32px;
  height: 32px;
  background: url("https://img.icons8.com/wired/32/000000/delete.png");
  background-repeat: "no-repeat";
} */

/* When clicked on, add a background color and strike out text */
ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

.button{
  width: 32px;
  height: 32px;
  background: url("https://img.icons8.com/wired/32/000000/delete.png");
  background-repeat: "no-repeat";
}

.divisao {
  display: flex;
  justify-content:space-between;
  border: 0.1rem #0d6efd solid;
  border-radius: 0.5rem;
  margin: 1rem;
  align-items:center;
}

.para {
  font-size: 1.5em;
  font-family: 'Segoe UI';
}