* {
  margin: 0 auto;
  padding: 0;
}

#painel-header-one,#painel-header-two {
  font-weight: bold;
}

#navegacao{
  border-radius: 5px 10px;
  margin: 1rem;
}

input#tarefa{
  min-width:35vw;
  max-width:60vw;
}

ul#inserir{
  list-style-type: none;
  margin:0;
  padding: 0;

}

#painel{
  border-radius: 5px 10px;
  margin: 1rem;
}

#painel-header-two{
  min-width: 40vw;
  max-width: 60vw;
}

#check{
  color: #fff;
}

#botao{
  background-image: url(https://img.icons8.com/wired/32/000000/plus-2-math.png);
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
}

.button{
  width: 32px;
  height: 32px;
  background: url("https://img.icons8.com/wired/32/000000/delete.png");
  background-repeat: "no-repeat";
}

.divisao {
  display: flex;
  justify-content:space-between;
  border: 0.1rem #0d6efd solid;
  border-radius: 0.5rem;
  margin: 1rem;
  align-items:center;
  font-size: 1.5em;
  font-family: 'Segoe UI';
}

.m-tarefa{
  margin: 10px;
  border-radius: 10px !important;
  box-shadow: #000000 1px 1px;
}

.m-tarefas{
  margin-top: 10px;
  border-radius: 10px !important;
  box-shadow: #000000 1px 1px;
}

input{
  margin-top: 10px;
  border-radius: 10px !important;
}

/*quando for maior que*/
@media not screen and (max-width:1075px){
  .divisao{
    width:34rem;
  }
}

/*quando for menor que*/
@media only screen and (max-width:1075px){
  .divisao{
    width:17rem;
  }
}

/*quando for menor que*/
@media only screen and (max-width:380px){
  .divisao{
    width:10rem;
  }
}

/*quando for menor que*/
@media only screen and (max-width:260px){
  .divisao{
    width:5rem;
  }
}

@media only screen and (max-width:1000px){
  #painel-header-two{
    width:17.5rem;
  }
}